<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Forchan95</title>

    <!-- Bootstrap core CSS -->
    <link href= "{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='posts.css')}}" rel="stylesheet">


    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

</head>
<center>
<img src="{{url_for('static',filename='forchan.png')}}">
</center>
<body>
<p>
{% for post in POST_DICT %}
<div class="title">
  {{POST_DICT[POST_DICT|length - post - 1]['title']}}
  <div class="content">
    {{POST_DICT[POST_DICT|length - post - 1]['content']}}
    <div class = "comment">
      {{POST_DICT[POST_DICT|length - post - 1]['topComment']}}
    </div>
  </div>
</div>
<br>
<br>
{% endfor %}
</p>
</body>
</html>
