{% extends "template.html" %} 
{% block head %}
<title>Forchan95</title>
<!-- Bootstrap core CSS -->
<link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='posts.css')}}" rel="stylesheet">
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
{% endblock %}

{% block body %}
    <br>
    <br>
    <center>
        <img src="{{url_for('static',filename='forchan.png')}}" alt="logo">
    </center>
    <form method="POST">
        <h2> Title: </h2>
        <br>
        <input style="height:40px; width:100%" type="text" name="title" id="title">
        <br>
        <h2> Content: </h2>
        <br>
        <textarea style="height:200px; width:100%" rows="10" name="content" id="content"></textarea>
        <br>
        <br>
        <button name="newpost" id="newpost" class="btn btn-lg btn-primary btn-block" type="submit"> New Post </button>
    </form>
    <br> {% for post in POST_DICT %}
    <div class="title">
        <b><a href="/posts/{{post['pid']}}">{{post['title']}}</a></b>
        <div class="content">
            <p>{{post['content']}}</p>
            {% if post['topComment'] != "" %}
            <div class="comment">
                {{post['topComment']}}
            </div>
            {% endif %}
        </div>
    </div>
    <br>
    <br> {% endfor %}
{% endblock %}

</html>