{% extends "template.html" %} 
{% block head %}
<title>Forchan95 Home</title>
<!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet"> 
{% endblock %} 

{% block navbar %}
{% endblock %}
{% block body %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Forchan95</h3>
                    <nav></nav>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading">Home</h1>
                <br>
                <br>
                <p class="lead">
                    <img class="img-responsive center-block" src="{{ url_for('static',filename = 'forchan.png') }}" alt="logo" width="70%" height="70%"> Forchan95: A Not-Mirror of 4Chan Not Written in Fortran 95
                </p>
                <p class="lead">
                    <a href="/login" class="btn btn-lg btn-default">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}

</html>